@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

#instruction_container, #instruction_button_container {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  display: flex;
}
@media (max-width: 500px){
  #instruction_container {
    font-size: 3vmin;
  }
}

#instruction{
  width: 80%;
  max-width: 800px;
}

h1 {
  color: black;
  font-size: 20pt;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 20pt;
  text-align: center;
}

label{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#form_container{
  justify-content: center;
  text-align: center  ;
  display: flex;
}

#submit_form {
  margin-top: 10pt;
}

#progress_bar{
  margin-top: 20px;
  width: 50%;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
}

#progress_filler{
  justify-content: left;
  padding-left: 10px;
  background-color: skyblue;
  display: flex;
}

#game_answer_buttons_container{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#image_container{
  display: flex;
  justify-content: center;
}
