@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

#instruction_container, #instruction_button_container {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 16px;
  justify-content: center;
  display: flex;
}

@media (max-width: 500px){
  #instruction_container {
    font-size: 3vmin;
  }
}

#instruction_one, #instruction_two{
  width: 80%;
  max-width: 800px;
}

h1 {
  color: black;
  font-size: 20pt;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 20pt;
  text-align: center;
}

label{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#form_container{
  justify-content: center;
  text-align: center  ;
  display: flex;
}

#submit_form {
  margin-top: 10pt;
}

#progress_bar{
  margin-top: 20px;
  width: 50%;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
}

#progress_filler{
  justify-content: left;
  padding-left: 10px;
  background-color: skyblue;
  display: flex;
  width: 10%
}

#game_answer_buttons_container{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#game_answer_buttons_container button{

  margin-right: 15px;
}

#image_container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game_images {
  width: 80vmin;
  height: 80vmin;
  position: relative;
  perspective: 1000px;
  border: 1px solid #fff;
}

#gi_front, #gi_back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
}

#game_answer_buttons_container {
  display: flex;
  justify-content: center;
}